
.col-item2 {
    width: 0px;
    display: -webkit-inline-box;
    text-align: -webkit-center;
}
.collection .collection-item.avatar{
    display: flex;
}
.isp-detail {
    margin-top: 10px;
}
.collapsible-header, .collapsible-body, .collapsible, ul.collapsible>li 
{
  margin: 0!important;;
  border: 0!important;
  padding: 10px;
  box-shadow: none!important;
  background: #fff;
}
.isp-spec{
    padding: 0 !important;

}
.text-justify{
    text-align: justify;
}
.sort-item-list{
    border: 1px solid;
    width: 21% !important;
    padding: 15px !important;
    margin-left: 10px !important;
    display: flex !important;
}

.modal-container {
    margin-right: 480px;
}